<% @page_title = "ユーザー一覧" %>

<h1><%= @page_title %></h1>
<br>
<%= form_tag :search_admin_users, method: :get do %>
  <%= text_field_tag "q", params[:q] %>
  <%= submit_tag "検索" %>
<% end %>
<br>
<p><%= link_to "ユーザーの新規登録", :new_admin_user %></p>
<br>
<% if @users.present? %>
  <table class="list">
    <thread>
      <tr>
        <th>ユーザー名</th>
        <th>氏名</th>
        <th>操作</th>
      </tr>
    </thread>
    <tbody>
      <% @users.each do |user_obj| %>
        <tr>
          <td><%=  link_to user_obj.name, [:admin, user_obj] %></td>
          <td><%= user_obj.full_name %></td>
          <td>
            <%= link_to "編集", [:edit, :admin, user_obj] %>
            |
            <%= link_to "削除", [:admin, user_obj], method: :delete, data: { confirm: "本当に削除しますか？" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>ユーザーは一人もいません。</p>
<% end %>